@import "colors.scss";

.button {
    padding: 8px;
    background: $primary-accent;
    border: 0px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px #000000;
}

.button:hover {
    background: $lightRed;
}

.button:active {
    background: $darkRed;
}