@import "colors.scss";

.navbar {
    background: white;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    position: sticky;
    top: 0;
}

.navbarAlt {
    background: $primary-accent;
    // box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    // border-bottom: 1px solid lightgrey;
    padding: 10px;
    position: sticky;
    top: 0;
}

.left {
    // float: left;
}

.right {
    float: right;
}

.link {
    // margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: grey;
}

.selected {
    color: black;
}

.link:hover {
    color: black;
}